{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": ["iOS > 7", "Android > 4"]
                },
                "useBuiltIns": true
            }
        ],
        "stage-0"
    ]
}
